@import './base.css';

a,
.blue {
  text-decoration: none;
  color: #76ABAE;
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: #76ABAE;
  }
}

@media (min-width: 1024px) {
  /* body {
    display: flex;
    place-items: top;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  } */
}


